.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    z-index: 1000;

    a:link, a:visited {
        text-decoration: none;
        color: #000;
    }

    &__logo {
        width: 17rem;
        margin-left: 2rem;

        img {
            width: 100%;
        }
    }

    &__list {
        background: #fff;
        margin-right: 2rem;
        font-size: 1.3rem;
        text-transform: uppercase;
    }

    &__list ul {
        display: flex;
        justify-content: space-between;
        width: 25rem;
        margin: 0;

        li {
            list-style: none;
            cursor: pointer;
        }

        .nav-dropdown-target {
            position: relative;

            &::after {
                content: '\203A';
                position: absolute;
                right: -.9rem;
                top:.1rem;
                transform: rotate(90deg);
            }

            .nav-dropdown {
                position: absolute;
                left: 25rem;
                top: 1.6rem;
                width: 15rem;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                background: #4F55BF;
                transition: left .3s ease-in-out;

                li {
                    margin-bottom: .2rem;
                    color: #fff;
                }
            }

            &:hover > .nav-dropdown{
                left: 0;
            }

        }
    }
}

.hamburger {
    width: 45px;
    height: 35px;
    position: relative;
    margin-right: 2rem;
    display: none;
    z-index: 1000;
    cursor: pointer;

    &__bar {
        position: absolute;
        height: 2px;
        width: 45px;
        top: 0;
        left: 0;
        background: #000;
        transition: all .30s ease-in-out;

        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 12px;
        }
        &:nth-child(3) {
            top: 24px;
        }
        .open > & {
            transition: all .5s ease-in-out;
        }
    
        .open > &:first-child {
            top: .7rem;
            transform: rotate(135deg);
            transition: all .5s ease-in-out;
        }
    
        .open > &:nth-child(2) {
            opacity: 0;
            bottom: -60px;
            transition: all .5s ease-in-out;
        }
    
        .open > &:nth-child(3) {
            top: .7rem;
            transform: rotate(-135deg);
            transition: all .5s ease-in-out;
        }
    }
}

.overlay {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 50vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: top .5s ease-in-out;

    &__list {
        margin-top: 5rem;
        
        ul {
            padding: 0;
            margin-left: .5rem;
            margin-right: .5rem;
        }
    }

    &.show {
        top: 0;
    }
    
    .overlay-dropdown-trigger {
        cursor: pointer;
        position: relative;

        &::after {
            content: "\203A";
            position: absolute;
            left: 8rem;
            top: 0;
        }

        &.active::after {
            content: "\203A";
            position: absolute;
            left: 8rem;
            top: .2rem;
            transform: rotate(90deg);
        }

        .overlay-dropdown-visible {
            opacity: 1;
            height: initial;
            margin-top: .5rem;
        }

        .overlay-dropdown-hidden {
            opacity: 0;
            height: 0;
        }
    }

    ul {
        li {
            list-style: none;
            font-size: 2rem;
        }
    }
}

@media (max-width: 800px) {

    .nav {
        &__list {
            display: none;
        }

    }

    .hamburger {
        display: block;
    }
}